{
  "semi": true,
  "singleQuote": false,
  "trailingComma": "es5",
  "printWidth": 100,
  "tabWidth": 4,
  "quoteProps": "as-needed",
  "bracketSpacing": true,
  "arrowParens": "always",
  "singleAttributePerLine": false
}